* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 233, 233);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

#main {
  max-width: 100vw;
  height: auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  /* margin-top: 50px; */
}

header > p {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

#img-div {
  width: 97vw;
  height: auto;
  background-color: #fff;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-caption {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
}

#tribute-info {
  width: 484px;
}

article > h3 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
ul > li {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.p1 {
  margin-top: 2.7rem;
  font-style: italic;
}

.p2 {
  margin-top: 1rem;
  font-style: italic;
}

footer {
  text-align: center;
  margin-top: 3rem;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #image {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #img-caption {
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 15px;
  }

  ul > li {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }

  .p1 {
    margin-top: 2.7rem;
    font-style: italic;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }

  .p2 {
    margin-top: 1rem;
    font-style: italic;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }

  footer {
    text-align: center;
    margin-top: 3rem;
    font-size: 16px;
    font-weight: bold;
  }
}
